# ==========================
# DBT
# ==========================
target/
dbt_packages/
dbt_internal_packages/
logs/

# ==========================
# Python
# ==========================
venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# ==========================
# Local data
# ==========================
data/

# ==========================
# Secrets
# ==========================
secret/*
!secret/.env.example

# Service account JSONs
*.json

# ==========================
# Environment variables
# ==========================
.env
secret/.env

# ==========================
# OS files
# ==========================
.DS_Store
